<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reserva.user %>
</p>

<p>
  <strong>Trip activity:</strong>
  <%= @reserva.trip_activity %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
