<div class="super_container">

	<!-- Header -->



	<!-- Menu -->

	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<div class="menu_search_form_container">
					<form action="#" id="menu_search_form">
						<input type="search" class="menu_search_input menu_mm">
						<button id="menu_search_submit" class="menu_search_submit" type="submit"><img src="<%= asset_path 'images/search_2.png' %>" alt=""></button>
					</form>
				</div>
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="#">Home</a></li>
					<li class="menu_item menu_mm"><a href="#acerca">Quines Somos</a></li>
					<li class="menu_item menu_mm"><a href="offers.html">Viaje de Temporada</a></li>
					<li class="menu_item menu_mm"><a href="news.html">Noticias</a></li>
					<li class="menu_item menu_mm"><a href="contact.html">Contacto</a></li>
				</ul>

				<!-- Menu Social -->

				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">Colorlib All rights reserved</div>
			</div>

		</div>

	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background" style="background-image:url(<%= asset_path 'images/santiago.jpg' %>)"></div>
		<div class="home_content">
			<!-- <h1 class="lkj">TURISMO METROPOLITANO</h1> -->
		</div>
	</div>

	<!-- Find Form -->


	<!-- Top Destinations -->

	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center" id="viajes">
						<h2>Viajes de Temporada</h2>
					</div>
				</div>
			</div>
			<div class="row top_content">

				<div class="col-lg-6 col-md-6 top_col">

					<!-- Top Destination Item -->
					<div class="top_item">
						<a href="#">
							<div class="top_item_image embalse"><img src="<%= asset_path 'images/embalse2.jpg' %>" alt="https://unsplash.com/@sgabriel"></div>
							<div class="top_item_content">
								<div class="top_item_price">Por $$$$$</div>
								<div class="top_item_text">Cajon del Maipo, Embalse del yeso</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 top_col">

					<!-- Top Destination Item -->
					<div class="top_item">
						<a href="#">
							<div class="top_item_image"><img src="<%= asset_path 'images/termas.jpg' %>" alt="https://unsplash.com/@jenspeter"></div>
							<div class="top_item_content">
								<div class="top_item_price">Por $$$$$</div>
								<div class="top_item_text">Cajon del Maipo, Termas</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 top_col">

					<!-- Top Destination Item -->
					<div class="top_item">
						<a href="#">
							<div class="top_item_image gl"><img src="<%= asset_path 'images/farellones.jpeg' %>" alt="https://unsplash.com/@anikindimitry"></div>
							<div class="top_item_content">
								<div class="top_item_price">Por $$$$$</div>
								<div class="top_item_text">Farellones, Valle Nevado</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 top_col">

					<!-- Top Destination Item -->
					<div class="top_item">
						<a href="#">
							<div class="top_item_image gl"><img src="<%= asset_path 'images/portillo.jpg' %>" alt=""></div>
							<div class="top_item_content">
								<div class="top_item_price">Por $$$$$</div>
								<div class="top_item_text">Portillo</div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Popular -->

	<div class="popular">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center" id="acerca"><h2>Acerca de Nosotros</h2></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">

				</div>
					<div class="col-md-10 center">
						<p>Nuestra empresa nace con la finalidad de entregar un servicio responsable, seguro y de alto nivel. Nos caracterizamos por la seriedad, puntualidad y el trato personalizado a cada uno de nuestros usuarios.</p>
						<p>Nuestros conductores profesionales con basta experiencia en el traslado de pasajeros se encuentran entrenados para resolver cualquier imprevisto en ruta, nuestros equipos de telefonistas y coordinadores se encuentran altamente capacitados para resolver sus dudas y con experiencia logística para entregar un resultado óptimo de acuerdo a su solicitud, al contratarnos usted no sólo mejorará su gestión, además ganará un experimentado equipo humano en el cual podrá confiar.</p>
					</div>
					<div class="col-md-1">

					</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<img src="<%= asset_path 'images/1.jpg' %>" alt="" class="img-fluid">
		</div>
			<div class="col-md-6 inbl">
				<img src="<%= asset_path 'images/2.jpg' %>" alt="" class="img-fluid">
			</div>
	</div>
	</div>
</div>
