<div class="home">
<div class="home_background parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'images/homecontacto.jpg' %>" data-speed="0.8"></div>
</div>
<div class="top">
  <div class="row">
    	<div class="col-md-4 col-sm-4 col-xs-12"></div>
      	<div class="col-md-4 col-sm-4 col-xs-12">
    <%= form_with(model: reservation, local: true) do |form| %>
      <% if reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

          <ul>
          <% reservation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>
    <%= %>
      <div class="field">
        <%= form.hidden_field :date, value: Time.current %>
      </div>

      <div class="field">
        <%= form.label 'Nombre del viaje' %>
        <%= form.select :name_trip, Trip.pluck(:name, :id), class: "contact_input contact_input_name" %>
      </div>

      <div class="field" id="precio">
        <%= form.label 'Precio' %>
      </div>

      <div class="actions">
        <%= form.submit 'Reservar viaje'%>
      </div>
    <% end %>

    <%= link_to 'Mis viajes', reservations_path%>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">

    </div>
  </div>

</div>
