<div class="home">
<div class="home_background parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'images/homecontacto.jpg' %>" data-speed="0.8"></div></div>
<div class="top">
<p id="notice"><%= notice %></p>
<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Nombre del viaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user.id %></td>
        <td><%= reservation.date %></td>
        <td><%= reservation.name_trip %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nueva reservacion', new_reservation_path %>
